// css footer
footer {
    background-color: $black-cl;

    .footer {
        height: 100%;
        @include flex(center, space-between);
        color: $white-cl;

        .left {
            color: $grey-cl;
            font-size: 12px;
            line-height: 20.83px;
            letter-spacing: .5px;

            i {
                vertical-align: middle;
            }
        }

        .right {
            @include flex(center, center);

            div {
                @include text(pb, 12px, var(--h3-lh), $grey-cl, uppercase);
                letter-spacing: .5px;
                padding: 0 30px;
                min-height: 100%;
                @include flex(center, center);
                cursor: pointer;
                @include transition(.4s);
                &:hover{
                    color: $brown-cl;
                }
            }
        }
    }

    @include xs {
        .footer {
            flex-direction: column;

            .left {
                padding-top: 30px;
                margin-bottom: 10px;
            }

            .center {
                margin-bottom: 10px;
            }

            .right {
                div {
                    padding: 0;
                    line-height: normal;
                    margin-bottom: 30px;
                }
            }
        }
    }
}