// CSS HOMEPAGE

main {
    // Section Slider

    .slider {
        position: relative;
        @include size(100%, 100vh);

        .slider__list {
            @include size(100%);
            position: relative;

            &-item {
                position: absolute;
                @include size(100%);
                // @include transition(.4s);
                // opacity: 0;
                // pointer-events: none;

                .content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;

                    h2 {
                        @include text(pb, var(--h2-fs), var(--h2-lh), $brown-cl, uppercase);
                        letter-spacing: 20px;
                        margin-bottom: 50px;
                    }

                    a {
                        @include btn-trans;

                        img {
                            margin-left: 18px;
                            @include transition(.4s);
                        }

                        &:hover {
                            background-color: $brown-cl;

                            img {
                                transform: translateX(40%);
                            }
                        }
                    }
                }

                .slider-img {
                    @include size(100%);
                    object-fit: cover;
                }

                // &.active {
                //     opacity: 1;
                //     pointer-events: auto;
                // }
            }
        }

        .slider__bottom {
            position: absolute;
            bottom: 30px;
            width: 100%;

            .container-fluid {
                @include flex(center, space-between);
                position: relative;
            }

            .left {
                display: flex;
                position: relative;

                &::before {
                    position: absolute;
                    top: 45%;
                    content: "";
                    height: 3.34px;
                    width: 42.5px;
                    background-color: $brown-cl;
                }

                span {
                    font-family: pb;
                    font-size: 4.2rem;
                    line-height: 48.68px;
                    color: $brown-cl;
                    margin-left: 60px;
                    width: 50px
                }

                .flickity-page-dots {
                    @include flex(center, normal);
                    margin-left: 15px;
                    position: absolute;
                    bottom: 45%;

                    .dot {
                        @include size(8px);
                        background-color: $gray-cl;
                        border: 2px solid $gray-cl;
                        border-radius: 50%;
                        margin-right: 15px;
                        cursor: pointer;
                    }

                    .is-selected {
                        background-color: $brown-cl;
                        border: 2px solid $brown-cl;
                    }
                }

            }

            .center {
                @include flex(center, normal);
                flex-direction: column;
                position: absolute;
                bottom: 10%;
                left: 50%;
                // transform: translateX(50%);

                .slider-mouse {
                    margin-bottom: 12px;
                }

                .slider-line {
                    width: 9px;
                    height: 62px;
                    animation: myMove 1.5s infinite linear;
                }
            }

            .right {
                .slider-btn {
                    padding: 10px 16px;
                    border: 1.66px solid $white-cl;
                    @include transition(.4s);

                    &:last-child {
                        margin-left: -1.66px;
                    }

                    &:hover {
                        background-color: $brown-cl;
                    }
                }
            }
        }

        @include sm {

            .slider__list {
                &-item {
                    .content {
                        h2 {
                            letter-spacing: 10px;
                        }
                    }
                }
            }

            .slider__bottom {
                .container-fluid {
                    position: relative;
                }

                .left {
                    &::before {
                        display: none;
                    }

                    span {
                        margin: 0;
                    }

                    .dots {
                        display: none;
                    }
                }

                .center {
                    display: unset;

                    .slider-mouse {
                        display: none;
                    }
                }
            }
        }

        @include xs {
            @include size(100%, 70vh);

            .slider__list {
                &-item {
                    .content {
                        h2 {
                            letter-spacing: 5px;
                        }

                        a {
                            padding: 13px 30px;

                            span {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }

            .slider__bottom {
                bottom: 15px;

                .left {
                    span {
                        font-size: 3.2rem;
                    }
                }

                .right {
                    .slider-btn {
                        padding: 10px 20px;
                    }
                }
            }
        }

        @include xxs {
            .slider__list {
                &-item {
                    .content {
                        a {
                            padding: 10px 20px;
                        }
                    }
                }
            }

            .slider__bottom {
                .center {
                    display: none;
                }

                .right {
                    .slider-btn {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }

    //Section Feature

    .feature {
        &-item {
            margin-bottom: 100px;
            @include flex(center, space-between);
        }

        &-item:nth-child(odd) {
            @include transform (translateX(-5%));
            @include transition(.4s);
            opacity: 0;

            &.fade-in {
                @include transform (translateX(0%));
                opacity: 1;
            }

            .textBox {
                &::before {
                    position: absolute;
                    content: "";
                    width: 80px;
                    height: .81px;
                    top: 16%;
                    background-color: $black-cl;
                    left: 0%;
                }
            }
        }

        &-item:nth-child(even) {
            flex-direction: row-reverse;
            @include transform (translateX(5%));
            @include transition(.4s);
            opacity: 0;

            &.fade-in {
                @include transform (translateX(0%));
                opacity: 1;
            }

            .textBox {
                text-align: right;

                &::before {
                    position: absolute;
                    content: "";
                    width: 80px;
                    height: .81px;
                    top: 16%;
                    background-color: $black-cl;
                    right: 0%;
                }
            }
        }

        .quality {
            margin-top: -30px;
            text-align: center;
            opacity: 0;
            @include transition(.4s);

            h3 {
                position: relative;
                line-height: 8.3rem;

                &::after {
                    position: absolute;
                    content: "";
                    background-color: $brown-cl;
                    height: 3.34px;
                    width: 36.66px;
                    bottom: 0;
                    right: 50%;
                    transform: translateX(50%);
                }
            }

            p {
                padding-top: 28px;
                width: 460px;
                margin: auto;
                color: $grey-cl;
            }

            &.fade {
                opacity: 1;
            }
        }

        .video__list {
            margin-top: 60px;
            @include flex(center, space-around);
            opacity: 0;
            @include transition(.4s);

            .video__item {
                text-align: center;

                .img {
                    position: relative;
                    @include size(200px);
                    margin-bottom: 20px;
                    border-radius: 50%;
                    overflow: hidden;

                    border: 12px solid $white-cl;
                    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);


                    >img {
                        @include midimg(100%);
                        object-fit: cover;
                        @include transition(.4s);
                    }

                    .btn-play {
                        position: absolute;
                        @include flex(center, center);
                        @include size(58px);
                        background-color: $brown-cl;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: .8;
                        cursor: pointer;

                        img {
                            margin-left: 5px;
                        }
                    }

                    &:hover {
                        >img {
                            @include transform(translate(-50%, -50%) scale(1.1));
                        }
                    }
                }

                .sub-img {
                    padding-top: 20px;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        height: 2px;
                        width: 20.84px;
                        background-color: $brown-cl;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            &.fade {
                opacity: 1;
            }
        }

        @include sm {
            &-item:nth-child(odd) {
                .textBox {
                    padding: 0 30px 0 0;
                }

                .textBox::before {
                    display: none;
                }
            }

            &-item:nth-child(even) {
                .textBox {
                    padding: 0 0 0 30px;
                }

                .textBox::before {
                    display: none;
                }
            }
        }

        @include xs {
            &-item {
                flex-direction: column-reverse !important;
                margin-bottom: 50px;

            }

            .video__list {
                flex-direction: column;

                .video__item {
                    margin-bottom: 30px;
                }
            }
        }

        @include xxs {
            .quality {
                p {
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }

    //Section Design

    .design {
        position: relative;
        @include flex(center, normal);
        background-position: center;
        background-attachment: fixed;
        padding: 190px 0;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            @include size(100%);
            background-color: $black-cl;
            opacity: .7;
            pointer-events: none;
            z-index: 1;
        }

        .content-section {
            position: relative;
            z-index: 2;

            h3 {
                @include text(pb, var(--h3-fs), var(--h3-lh), $brown-cl, uppercase);
                letter-spacing: 1px;
                line-height: normal !important;
                margin-bottom: 22px;
            }

            p {
                color: $white-cl;
            }
        }

        .design-btn {
            @include btn-trans;
            position: relative;
            cursor: pointer;
            z-index: 9;


            img {
                margin-right: 16px;
                @include size(22px);
                vertical-align: middle;
                margin-top: -5px;
            }

            &:hover {
                background-color: $brown-cl;
            }

        }

        @include xs {
            padding: 100px 0;

            .content {
                h3 {
                    width: 480px
                }

                p {
                    @include overtext(2);
                    width: 400px;
                }
            }
        }

    }

    //Section About

    .about {
        @include transform(translateX(-10%));
        opacity: 0;
        @include transition(1s);

        .container {
            @include flex(center, center);

            .textBox {
                padding-left: 60px;

                .content {
                    p {
                        color: $grey-cl;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        height: .81px;
                        width: 80px;
                        background-color: $grey-cl;
                        border: 1px solid $grey-cl;
                        top: 15%;
                        left: -10%;
                        z-index: 9;
                    }
                }
            }
        }

        &.fade-in {
            @include transform(translateX(0%));
            opacity: 1;
        }

        @include sm {
            .textBox {
                padding: 0 0 0 60px;

                .content {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        @include xs {
            .container {
                flex-direction: column;

                .textBox {
                    padding: 0;
                }
            }
        }
    }

    //Section gallery

    .gallery {
        background-color: $black-cl;

        .content-section {
            color: $white-cl;
        }

        .gallery__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 200px;
            gap: 11px;

            &-item {
                position: relative;
                overflow: hidden;
                cursor: pointer;
                @include transition(.4s);

                img {
                    @include midimg(100%);
                    @include transition(.4s);
                    filter: grayscale(100%);
                    object-fit: cover;
                }

                &:hover {
                    @include transform(scale(.97));

                    img {
                        @include transform(translate(-50%, -50%) scale(1.1));
                        filter: unset;
                    }
                }
            }

            .img-2 {
                grid-area: 2/1/3/2;
            }

            .img-3 {
                grid-area: 1/2/3/3;
            }
        }

        @include xs {
            .gallery__list {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @include xxs {
            .content {
                p {
                    width: 100%;
                }
            }
        }
    }

    //Section News

    .news {

        .news__tag {
            display: flex;
            margin-bottom: 30px;

            .tag {
                @include text(pb, var(--body16-fs), var(--body16-lh), $grey-cl, none);
                margin-right: 20px;
                padding: 10px 25px;
                border: 2px solid $grey-cl;
                cursor: pointer;
                @include transition(.4s);

                &:hover {
                    color: $white-cl;
                    background-color: $brown-cl;
                    border: 2px solid $brown-cl;
                }

                &.active {
                    color: $white-cl;
                    background-color: $brown-cl;
                    border: 2px solid $brown-cl;
                }
            }
        }

        .news__list {
            display: none;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--gap);
            opacity: 0;
            @include transition(.4s);

            .news__item {

                .img {
                    position: relative;
                    height: 0;
                    overflow: hidden;
                    padding-bottom: 65%;
                    width: 100%;
                    margin-bottom: 25px;
                    cursor: pointer;

                    img {
                        @include midimg(100%);
                        @include transition(.4s);
                        object-fit: cover;

                        &:hover {
                            @include transform(translate(-50%, -50%) scale(1.1));
                        }
                    }
                }

                .text-line {
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 83.34px;
                        height: 3.34px;
                        background-color: $brown-cl;
                        bottom: 0%;
                        left: 0;
                    }
                }

                .content {
                    .news__item-title {
                        min-height: 80px;
                        @include overtext(2);
                        cursor: pointer;

                        h4 {
                            margin-top: 24px;
                            @include text(pb, var(--h4-fs), var(--h4-lh), $black-cl, uppercase);
                            letter-spacing: .4px;
                            @include overtext(2);
                            @include transition(.4s);
                        }

                        &:hover {
                            h4 {
                                color: $brown-cl;
                            }
                        }
                    }

                    .news__item-content {


                        p {
                            @include text(pr, 15px, 20px, $black-cl, none);
                            @include overtext(3);
                        }
                    }
                }
            }

            &.active {
                opacity: 1;
                display: grid;
            }

            @include sm {
                display: none;

                .news__item {
                    width: 100%;

                    .img {
                        width: 100%;
                        height: 380px;

                        img {
                            object-fit: cover;
                        }
                    }

                    .des {
                        .news__item-title {
                            width: 100%;
                        }

                        .news__item-content {
                            width: 100%;
                        }
                    }
                }

                &.active {
                    flex-direction: column;
                    @include flex(center, space-around);
                }

            }

            @include xs {
                .news__item-content {
                    @include overtext(0)
                }
            }
        }


    }

    //Section Accordian

    .accordian {
        margin-top: -88px;

        .accor_item {
            width: 100%;
            max-height: 61.6px;
            overflow: hidden;
            @include transition(.4s);

            .accor-btn {
                width: 100%;
                text-align: left;
                padding: 20px;
                background-color: #eee;
                @include text(pb, var(--body16-fs), var(--body16-lh), $grey-cl, none);
                border: none;
                cursor: pointer;
                @include transition(.4s);

                &:after {
                    content: '+';
                    font-size: 20px;
                    color: #777;
                    float: right;
                    margin-left: 5px;
                }

                &.active {
                    background-color: #ccc;

                    &::after {
                        content: '-';
                    }
                }
            }

            .panel {
                padding: 0 20px;
                background-color: white;
                @include transition(max-height .4s);

                p {
                    padding: 20px 0;
                }
            }
        }

        @include xs {
            margin-top: -50px;
        }
    }

    .more_img {
        padding-bottom: 90px;
        height: 400px;

        .swiper {
            @include size (100%);

            .swiper-slide {
                width: auto;
                img {
                    width: auto;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .progress {
            margin-top: 20px;
            width: 250px;
            height: 4px;
            background-color: #e2e2e2;
            position: relative;
            left: 50%;
            @include transform(translateX(-50%));
            overflow: hidden;

            .progress-bar {
                position: absolute;
                height: 100%;
                background-color: $brown-cl;
                width: 0%;
            }
        }

        @include sm {
            .more__img {
                .carousel-cell {
                    width: 70%;
                }
            }
        }
    }
}

.popup__video {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.97);
    top: 0;
    left: 0;
    @include size(100vw, 100vh);
    z-index: 100;
    display: none;
    @include transition(.4s);

    .popup__video-item {
        position: relative;
        width: 80vw;
        height: 0;
        padding-bottom: 40%;
        border: 3px solid $white-cl;

        iframe {
            @include midimg(100%);
        }

        .exit__popup {
            position: absolute;
            background-color: $white-cl;
            @include text(pb, var(--body16-fs), var(--body16-lh), $black-cl, uppercase);
            top: -3%;
            right: -1%;
            padding: 5px 10px;
            border-radius: 100%;
            cursor: pointer;
        }
    }

    &.active {
        @include flex(center, center);
    }

    @include sm {
        .popup__video-item {
            width: 90vw;
            padding-bottom: 60%;

            .exit__popup {
                right: -2%;
            }
        }
    }

    @include xs {
        .popup__video-item {
            .exit__popup {
                top: -5%;
                right: -3%;
            }
        }
    }
}